h1{
    color:blue;
}

body{font-family: 'Poppins', sans-serif;
}

h1{
    font size: 50px;
}
.orange{
    color: orange;
}
#hire-me{
    margin: 0px;
    padding-left: 0%;
    color: orangered;
    margin: 10px;
    border: 50%
    padding: 5%;
    radius: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 40%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato);
    background-color:orange;
    color: rgba(224, 63, 63, 0.378);
    font: bold;
    padding: 10px 40px ;
    border-radius: 5px;
}